/*diseño de los iconos botones a utilizar */

.bt1{
	-fx-background-image: url("../../Images/banco.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
}
.bt2{
	-fx-background-image: url("../../Images/PoliceStation.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
}
.bt3{
	-fx-background-image: url("../../Images/ladron.png");
        -fx-background-color: null;
        -fx-background-size: stretch;
}

.bt1:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.bt2:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.bt3:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}


.Fondo{
	/* Nepal theme from https://uigradients.com/#Nepal */
	-fx-background-color : linear-gradient(to left,
		#de6161,
		#3c69f0
	); 
	
	/* Sunset from https://uigradients.com/#Sunset */
	-fx-background-color : linear-gradient(to right,
		#0B486B,
		#F56217
	);
}

.Fields{
	-fx-background-color: null;
	-fx-prompt-text-fill: rgba(57,62,70,0.800000011920929);
	-fx-text-fill: rgb(34,40,49);
}




.Prueba{
		/* Nepal theme from https://uigradients.com/#Nepal */
	-fx-background-color : linear-gradient(to left,
		#3a7bd5,
	#3a6073
	); 
	
	/* Sunset from https://uigradients.com/#Sunset */
	-fx-background-color : linear-gradient(to right,
		#3a7bd5,
	#3a6073
	);
}

.Prueba2{
		/* Nepal theme from https://uigradients.com/#Nepal */
	-fx-background-color : linear-gradient(to left,
		#c31432,
	#240b36
	); 
	
	/* Sunset from https://uigradients.com/#Sunset */
	-fx-background-color : linear-gradient(to right,
		#c31432,
	#240b36
	);
}

.Naranja{
		/* Nepal theme from https://uigradients.com/#Nepal */
	-fx-background-color : linear-gradient(to left,
		#f12711,
	#f5af19
	); 
	
	/* Sunset from https://uigradients.com/#Sunset */
	-fx-background-color : linear-gradient(to right,
		#f12711,
	#f5af19
	);
}